:root {
  --body-background-color: #111827;
  --body-text-color: #e5e7eb;
  --card-background-color: #333f58;
  --nav-background-color: #333f58;
  --nav-border-bottom-color: #4d71be;
  --nav-current-border-bottom-color: #167db5;
  --card-border-color: #333f58;
  --down-border-left-color: #f2545b;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f6ae2d;
  --up-border-left-color: #167db5;
  --tag-up-background-color: #167db5;
  --tag-down-background-color: #f2545b;
  --tag-degraded-background-color: #f6ae2d;
  --change-background-color: #f6ae2d;
  --error-button-border-color: #1a508e;
  --error-button-background-color: #167db5;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a508e;
  --submit-button-background-color: #167db5;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
